@model Admin

@{
    ViewData["Title"] = "DetailsAdmin";
}

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.passwordHash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.passwordHash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.boy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.boy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.whoIam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.whoIam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
