@model IEnumerable<User>

@{
    ViewData["Title"] = "List Users";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.subscribeStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.boy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.whoIam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.subscribeStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.boy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.whoIam)
            </td>
            <td>
                @if (item.whoIam != Roles.admin)
                {
                    <a asp-action="MakeUsrAdmin" asp-route-id="@item.manId">Make Admin</a>
                    <span> | </span>
                }
                @if (item.whoIam != Roles.cotch)
                {
                    <a asp-action="MakeUsrCotch" asp-route-id="@item.manId">Make Cotch</a>
                    <span> | </span>
                }
                <a asp-action="DetailsUser" asp-route-id="@item.manId">Details</a> |
                <a asp-action="DeleteUser" asp-route-id="@item.manId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
